.profile_grid {
    display: grid;                       /* establish flex container */
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    grid-gap: 20px;
  }
  .cell {
    flex: 0 0 33%;                       /* don't grow, don't shrink, width */
    /*background-color: #999;*/
  }


  .modal_flex{
    display: flex;
    background-color: white;
    padding: 1px;
  }

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 0px;
  border-bottom: 1px solid grey;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: gold;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  border-radius: 15px;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.registerbtn {
  background-color: limegreen;

}